@model TekkenTI2.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}

<div style="font-family:'Lucida Console'; font-size:35px; color:white; margin-top:20px;">
    Configurações da conta:
</div>

<style>
    body {
        background-image: url(../../FundoPersonagens/Fundo3.jpg);
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        font-family: 'Lucida Console';
        color: black;
        background-color: white;
        border: blue;
        border-radius: 12px;
        border: 2px solid #191970;
    }

        .button:hover {
            background-color: #D3D3D3
        }

        .button:active {
            background-color: #A9A9A9;
            transform: translateY(2px);
        }
</style>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <div class="dl-horizontal">
        <div style="font-family:'Lucida Console'; font-size:16px; color:white; margin-top:20px;">
            Senha:
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Alterar sua senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Criar", "SetPassword")
            }
            ]
        </div>
        <div style="font-family:'Lucida Console'; font-size:16px;color:white; margin-top:20px;">
            Logins externos:
            @Model.Logins.Count [
            @Html.ActionLink("Gerenciar", "ManageLogins") ]
        </div>
        @*
            Os Números de Telefone podem ser usados como um segundo fator de verificação em um sistema de autenticação de dois fatores.

             Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artigo</a>
                        para obter detalhes sobre a configuração deste aplicativo ASP.NET para dar suporte a uma autenticação de dois fatores usando SMS.

             Remova a marca de comentário dos blocos a seguir após configurar a autenticação de dois fatores
        *@
        @*
            <dt>Número de telefone:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remover" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <div style="font-family:'Lucida Console'; font-size:16px;color:white; margin-top:20px;">Autenticação de dois fatores:</div>

        <p style="color: white; font-family:'Lucida Console'; margin-top:10px; font-size:10px;">
            Não há provedores de autenticação de dois fatores configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=403804">este artigo</a>
            para obter detalhes sobre como configurar este aplicativo ASP.NET para dar suporte à autenticação de dois fatores.
        </p>
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Ativado
                    <input type="submit" value="Desativar" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Desativado
                    <input type="submit" value="Ativar" class="btn btn-link" />
                    </text>
                }
            }*@

    </div>
</div>
