@model TekkenTI2.Models.Jogos

@{
    ViewBag.Title = "Details";
}
@*cor do funfo *@
<style>
    body {
        background-image: url(../../FundoPersonagens/Fundo3.jpg);
    }
</style>
<div style="margin-top: 40px; display: -webkit-flex; -webkit-align-items: center; display: flex;align-items: center;">
    @*Imagens do Jogo*@
    <div style="border:solid;border-color:black;">
        <a href="~/ImagensCapa/@Model.Fotografia" target="_blank">
            <img src="~/ImagensCapa/@Model.Fotografia" width="400" height="487" />
        </a>
    </div>
    <div style="height:400px">

        @*Nome do jogo*@
        <div style="font-family: Arial; ttext-align: left;color: red; font-size: 50px;font-weight: bold;margin-top: -60px; margin-left: 20px;width: 100%;">
            @Html.DisplayFor(model => model.Titulo)
        </div>

        @*Enredo do Jogo*@
        <div style="font-family:Arial; font-size: 18px; color: black;text-align:justify; padding-top:2px; margin-left:20px;">
            @if (Model.ListaDeHistorias.Count() > 0)
            {
                foreach (var historia in Model.ListaDeHistorias)
                {
                    <div style="color:white;">
                        <span>@historia.Resumo</span><br />
                    </div>
                }
            }

        </div>
        @*Plataformas do Jogo*@
        <div style="font-family:Arial;font-size: 25px; color: red; font-weight: bold;padding-top: 20px; margin-left:20px;">Plataformas</div>
        <div style="font-family:Arial; font-size: 18px; color: black;text-align:justify; padding-top:6px; margin-left:20px;">
            @if (Model.ListaDePlataformas.Count() > 0)
            {
                foreach (var plataforma in Model.ListaDePlataformas)
                {
                    <div style="margin-top:-4px; color: white;">
                        <span><b>@plataforma.Plataforma</b></span>
                    </div>
                }
            }
        </div>


        @*Ano de lançamento do Jogo*@
        <div style="font-family:Arial;font-size: 25px; color: red; font-weight: bold;padding-top: 20px; margin-left:20px;">Ano de Lançamento</div>
        <div style="font-family:Arial; color:white; font-size: 18px; color: black;text-align:justify; padding-top:0px; margin-left:20px;">
            <div style="color:white;"><b>
                @Html.DisplayFor(model => model.Ano)
            </b></div>
        </div>


    </div>
</div>

@*Personagens do Jogo*@
<div style="font-family:Arial;font-size: 30px; color: red; font-weight: bold;padding-top: 85px; margin-left:6px;">Personagens</div>

<div style=" display:flex; flex-wrap:wrap; flex-direction:row; justify-content:space-around; align-content:center; margin-top: -4px;">
    @if (Model.ListaDePersonagens.Count() > 0)
    {
        foreach (var personagem in Model.ListaDePersonagens)
        {

            <div style="padding-top: 15px">
                <a href="/Personagens/Details/@personagem.ID">
                    <img src="~/ImagensPers/@personagem.Fotografia" width="150" height="160" />

                </a>
            </div>
        }
    }
</div>

<div>
    <div>
        <div style="margin-top:100px">
            <h1 class="comentarios" style="color: red">Comentários:</h1>
        </div>

        <hr class="estilo3">
        <div class="alert alert-info" style="margin-top:20px; margin-right:690px">
            <strong>Nota:</strong> Para adicionar um comentário é necessário iniciar sessão!
        </div>
        @if (User.IsInRole("UtilizadorLogado") || User.IsInRole("Administrador"))
        {
            <div style="margin-top:30px">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => Model.ID)
                    @Html.TextArea("ComentarioBox", "", 4, 100, htmlAttributes: new { @placeholder = "Adicione um Comentário" })
                    <button type="submit" name=" botaoComentario" class="btn btn-primary "> Comentar </button>
                }
            </div>
        }

        @foreach (var comentario in Model.ListaDeComentarios)
        {
            <div>
                @Html.DisplayFor(c => comentario.Texto)
                @Html.DisplayFor(c => comentario.DataComentario)

                @if (comentario.Utilizadores.UserName.Equals(User.Identity.Name) || User.IsInRole("Administrador"))
                {
                    <a href='@Url.Action("Edit","Comentarios", new { id = comentario.ID })'>Editar |</a>
                    <a href='@Url.Action("Delete","Comentarios", new { id = comentario.ID })'>Apagar</a>
                }


            </div>
        }
    </div>
</div>

@if (User.IsInRole("Administrador"))
{
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Voltar para a Lista", "Index")
        @using (Html.BeginForm("Delete", "Filmes", null, FormMethod.Post, null))
        {
            @*Só aparece para o Admin da página*@
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.ID" />
            @*
                <button class="btn btn-danger" type="submit">Apagar</button>
            *@
        }
    </p>
}

